<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
<head>
  {{ block "title" . }}
    <title>{{ if .IsHome }}{{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}{{ else }}{{ .Title }} :: {{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} — {{ . }}{{ end }}{{ end }}</title>
  {{ end }}
  {{ partial "head.html" . }}
</head>
<body class="">
{{ $container := cond $.Site.Params.FullWidthTheme "container full" (cond $.Site.Params.CenterTheme "container center" "container") }}

<div class="{{- $container -}}{{- cond ($.Site.Params.oneHeadingSize | default true) " headings--one-size" "" }}">

  {{ partial "header.html" . }}

  <div class="content">
    {{ block "main" . }}
    {{ end }}
  </div>

  {{ block "footer" . }}
    {{ partial "footer.html" . }}
  {{ end }}
</div>
<section style="display: none;" class="h-card" href="http://anotherwong.github.io/">

<!-- About me -->
<span class="p-name">Alex Wong</span>
<span class="p-note">Student, hobbyist, car enthusiast and lover of all things retro.</span>
<!-- Profile picture -->
<img class="u-photo" src="https://anotherwong.github.io/img/img2.jpg"/>


</body>
</html>
